In [2]:
#Q1
L=[2, 3, 6]
result=1
for x in L:
    result=result*x
print("result= ",result)

result=  36

In [7]:
#Q2
def last(n): return n[-1]

def sort_list_last(tuples):
  return sorted(tuples, key=last)

print(sort_list_last([(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]))

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [27]:
#Q3
dict1 = {'a': 100, 'b': 200, 'c':300}
dict2 = {'a': 300, 'b': 200, 'd':400}

for key in dict1:
    if key in dict2:
        dict2[key]=dict1[key]+dict2[key]
print(dict2)

{'a': 400, 'b': 400, 'd': 400}

In [29]:
#Q4 
num=int(input("gimme nbr plz T_T "))
D={}
for i in range(1,num + 1):
    D[i]=i*i
print(D)

gimme nbr plz T_T 5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [1]:
#Q5
items=[('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
print( sorted(items, key=lambda x: float(x[1]), reverse=True))

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]