In [1]:
mylist=[14, "hello", 967]
mylist[2]
#INDEX 6 DOESNT EXIST

967

In [5]:
import pandas
import numpy
#no modules exist by that name need to spell correctly

In [8]:
print('python errors')
#print spelled wrong and missed parentheses

python errors

In [10]:
mydictionnary={True:"hello",False:"bye", '3':"python"}
mydictionnary[True]
#Key error it shouldnt be in form of string

'hello'

In [ ]:
i=14
print(i)

In [ ]:
i=14
while i<78:
    print(i)
i+=1

In [ ]:
15+15
#Can't add two values from different types

In [ ]:
'python'
#Cant transform str into int

In [ ]:
python=5 
print(python)
#Name wasnt defined

In [ ]:
x=19/1
#You can't perform a division on 0